@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

/* Vertical Timeline styles */
.vertical-timeline {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 2em 0;
}

.vertical-timeline-element {
  margin: 2em 0;
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background: #fff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #ddd;
}

.dark .vertical-timeline-element-content {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
}
